<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HRApp.Properties.Settings.HRAppDBConnectionString" connectionString="Data Source=HRAppDB.mssql.somee.com;Initial Catalog=HRAppDB;Persist Security Info=True;User ID=galadysp_SQLLogin_4;Password=5gephl2yz4" providerName="System.Data.SqlClient" />
    <add name="HRAppDBEntities" connectionString="metadata=res://*/Models.HRAppModel.csdl|res://*/Models.HRAppModel.ssdl|res://*/Models.HRAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HRAppDB.mssql.somee.com;initial catalog=HRAppDB;persist security info=True;user id=galadysp_SQLLogin_4;password=5gephl2yz4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRAppModel2" connectionString="data source=HRAppDB.mssql.somee.com;initial catalog=HRAppDB;persist security info=True;user id=galadysp_SQLLogin_4;password=5gephl2yz4;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>